.imageBox{
  display: inline-flex;
  margin: 5px;
  border-style:solid;
  border-width: thin;
  border-color: #4a2408;
}

#results{
  margin: 5px;
}

#buttons{
margin-left: 32.75%;
}

#selection-chart{
  border-style: solid;
  border-width: thin;
  border-color: #4a2408;
}

body{
  width: 960px;
  background-color: #f8eddc;
  margin: 0 auto;
}

p{
  width: 930px;
  color: #4a2408;
}

h2{
  color: #4a2408;
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 700;
}

a{
  margin: 20px;
  color: #4a2408;
  visibility: hidden;
  font-size: 14pt;
}

a:hover{
  color: #d46b1d;
}

a:active{
  color: #d4511d;
}
